@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Poppins&display=swap');

body {
  background-image: url('https://images.unsplash.com/photo-1545608444-f045a6db6133?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1473&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  font-family: 'Alkalami', serif;
}

.app {
  padding: 2em;
}

.main {
  display: flex;
  flex-flow: row-reverse wrap;
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 4em;
  font-weight: 300;
  margin: .5em 0 0;
}

img, button, .profile {
  border-radius: 1em;
}

button {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
  background-color: #a22c34;
  border: 2px solid #bfbfbf;
  color: #ffffff;
  padding: 0.75em;
  margin: 1em;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: large;
}

.profile {
  background-color: hsla(0,0%,98%,.8);
  margin: 2em;
  padding: 1em;
  text-align: center;
  width: 75%;
}

.payment {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.StripeElement.StripeElement--empty {
  background-color: hsla(0,100%,90%,.75);
  padding: .5em;
  border-radius: .5em;
}

.StripeElement.StripeElement--complete {
  background-color: hsla(120,100%,90%,.75);
  padding: .5em;
  border-radius: .5em;
}

p {
  font-family: 'Poppins', sans-serif;
}

@media all and (max-width: 500px) {
  html {
    font-size: 10px;
  }

  /* img {
    width: 110px;
    height: auto;
  }

  .top {
    justify-content: flex-start;
  }

  .gradient-text {
    background-size: 100%;
  }

  .slideshow {
    width: 95%;
  }

  .item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 155px;
  }

  textarea {
    width: 100%;
  }

  #form {
    width: 90%;
  } */
}